aniso8601==7.0.0
appdirs==1.4.4
arabic-reshaper==2.1.3
asgiref==3.2.10
asn1crypto==0.24.0
astroid==2.3.3
autopep8==1.5
Babel==2.9.1
beautifulsoup4==4.9.3
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
ChatterBot==1.0.8
click==8.0.0
colorama==0.4.3
cryptography==2.9.2
defusedxml==0.6.0
diff-match-patch==20121119
distlib==0.3.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.1
django-allauth==0.42.0
django-bootstrap==0.2.4
django-bootstrap-form==3.4
django-bootstrap4==2.3.1
django-ckeditor==5.9.0
django-cors-headers==3.7.0
django-crispy-forms==1.9.2
django-debug-toolbar==3.1.1
django-embed-video==1.3
django-environ==0.4.5
django-filter==2.3.0
django-forms-bootstrap==2.0.3.post2
django-heroku==0.3.1
django-js-asset==1.2.2
django-memcache-status==2.1
django-momoapi==1.1.0
django-mptt==0.12.0
django-paypal==1.0.0
django-taggit==1.2.0
django-toolbelt==0.0.1
django-user-visit==0.4
django-widget-tweaks==1.4.5
easy-thumbnails==2.7
ecommpay-sdk==1.0.6
entrypoints==0.3
et-xmlfile==1.0.1
Faker==2.0.0
filelock==3.0.12
Flask==2.0.0
future==0.18.2
graphene==2.1.8
graphene-django==2.13.0
graphene-file-upload==1.2.2
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.0.4
html5lib==1.1
httplib2==0.9.2
idna==2.10
importlib-metadata==2.1.1
isodate==0.6.0
isort==4.3.21
itsdangerous==2.0.0
jdcal==1.4
Jinja2==3.0.0
keyring==10.6.0
keyrings.alt==3.0
lazy-object-proxy==1.4.3
MarkupSafe==2.0.0
mathparse==0.1.2
mccabe==0.6.1
money==1.3.0
mysqlclient==2.0.1
oauthlib==3.1.0
odfpy==1.3.6
olefile==0.45.1
openpyxl==3.0.7
paypal==1.2.5
pexpect==4.2.1
Pillow==7.2.0
pipenv==2020.11.15
PlexAPI==4.5.2
procfile==0.1.0
promise==2.3
psycopg2==2.8.5
psycopg2-binary==2.8.5
ptyprocess==0.7.0
pyasn1==0.1.9
pycodestyle==2.5.0
pycparser==2.14
pyflakes==2.1.1
PyJWT==2.1.0
pylint==2.4.4
PyPDF2==1.26.0
python-bidi==0.4.2
python-dateutil==2.8.0
python-debian==0.1.32
python-environ==0.4.54
python-memcached==1.59
python3-openid==3.2.0
pytz==2020.1
pywin32-ctypes==0.2.0
pyxdg==0.25
PyYAML==3.12
reportlab==3.5.67
requests==2.24.0
requests-oauthlib==1.3.0
requests-unixsocket==0.1.5
Rx==1.6.1
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.14.0
social-auth-app-django==3.1.0
social-auth-core==3.3.3
soupsieve==2.0.1
SQLAlchemy==1.3.24
sqlparse==0.3.1
static3==0.7.0
stripe==2.51.0
style==1.1.0
tablib==0.12.1
text-unidecode==1.2
touch==2020.12.3
typed-ast==1.4.0
typing-extensions==3.7.4.3
ua-parser==0.10.0
unicodecsv==0.14.1
Unidecode==1.1.1
update==0.0.1
urllib3==1.25.10
user-agents==2.2.0
values==2020.12.3
virtualenv==20.4.4
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
vobject==0.9.6.1
webencodings==0.5.1
Werkzeug==2.0.0
whitenoise==5.1.0
wincertstore==0.2
wrapt==1.11.2
xhtml2pdf==0.2.5
xlrd==1.1.0
xlwt==1.3.0
xmltodict==0.10.2
zipp==3.4.1
