<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Demande de facture - {{order.id}}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container my-4">
      <h2>Commande id - {{order.id}}</h2>
      <h4 class="mb-3">
        A - {{order.user.first_name|default:order.user.username}}
        {{order.user.last_name}}
      </h4>
      <h4 class="font-weight-light">{{order.address}}</h4>
      <h4 class="font-weight-light mb-3">{{order.city}}, {{order.pin_code}}</h4>
      <h5 class="font-weight-light mb-4">Commande passée en {{order.created}}</h5>
      <hr />
      <table class="table table-striped mt-4">
        <thead class="table-dark">
          <tr>
            <td>Nom</td>
            <td>Prix</td>
            <td>Quantité</td>
            <td>Total</td>
          </tr>
        </thead>
        <tbody>
          {% for o in order.items.all %}
          <tr>
            <td>{{o.product.name}}</td>
            <td>XAF{{o.product.price}}</td>
            <td>{{o.quantity}}</td>
            <td>XAF {{o.total}}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2"></td>
            <td class="text-right">Grand Total -</td>
            <td>
              <b>XAF {{order.total_price}}</b>
            </td>
          </tr>
        </tfoot>
      </table>
      <h5>
        Status de paiement - {% if order.paid %}
        <span class="badge badge-success">Payé</span>
        {% else %}
        <span class="badge badge-danger">Paiement en attente</span>
        {% endif %}
      </h5>
      <h5>Mode de paiement - Cash à la livraison</h5>
      <h5>Status - {{order.status}}</h5>
    </div>
    <footer class="text-center d-print-none">
      <button class="btn btn-primary" onclick="window.print()">Imprimer</button>
      <button class="btn btn-danger" onclick="history.back()">Retour</button>
    </footer>
  </body>
</html>
