{% extends 'base.html' %} {% block title %}Lien de restauration envoyé  {% endblock title %}
{% block content %}
<h1 class="display-4 my-4">Lien de restauration envoyé</h1>
<hr />
<p>
 Un courriel vous a été envoyé sur les intructions pour parametrer votre mot de passe,
    si votre compte existe  avec le courriel que vous avez entré.Vous n'allez pas tarder à recevoir ces intructions </p>
<p>
  Si vous ne recevez pas de courriel, assurez-vous que vous avez entré
    le même courriel avec lequel vous vous êtes enregistré, véréfiez aussi votre spam !

</p>
<a href="{% url 'login' %}" class="btn btn-primary">Connexion</a>
{% endblock content %}
